<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.org.dianjiu.security.dao.TTaskErrorsDao">

    <resultMap type="cn.org.dianjiu.security.entity.TTaskErrors" id="TTaskErrorsResultMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="recordId" column="record_id" jdbcType="VARCHAR"/>
        <result property="errorKey" column="error_key" jdbcType="VARCHAR"/>
        <result property="errorValue" column="error_value" jdbcType="VARCHAR"/>
        <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="table_field">
      id, record_id, error_key, error_value, createTime, update_time      
    </sql>
       
    <!--通过Id查询单个对象-->
    <select id="getById" resultMap="TTaskErrorsResultMap" parameterType="java.lang.Long">
        select
          <include refid="table_field" />
        from t_task_errors
        where id = #{id,jdbcType=INTEGER}
    </select>


    <!--通过实体不为空的属性作为筛选条件查询对象列表-->
    <select id="listByEntity" resultMap="TTaskErrorsResultMap" parameterType="cn.org.dianjiu.security.entity.TTaskErrors">
        select
          <include refid="table_field" />
        from t_task_errors
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="recordId != null">
                and record_id = #{recordId,jdbcType=VARCHAR}
            </if>
            <if test="errorKey != null">
                and error_key = #{errorKey,jdbcType=VARCHAR}
            </if>
            <if test="errorValue != null">
                and error_value = #{errorValue,jdbcType=VARCHAR}
            </if>
            <if test="createtime != null">
                and createTime = #{createtime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>

    <!--通过实体不为空的属性作为筛选条件查询单个对象-->
    <select id="getByEntity" resultMap="TTaskErrorsResultMap" parameterType="cn.org.dianjiu.security.entity.TTaskErrors">
        select
          <include refid="table_field" />
        from t_task_errors
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="recordId != null">
                and record_id = #{recordId,jdbcType=VARCHAR}
            </if>
            <if test="errorKey != null">
                and error_key = #{errorKey,jdbcType=VARCHAR}
            </if>
            <if test="errorValue != null">
                and error_value = #{errorValue,jdbcType=VARCHAR}
            </if>
            <if test="createtime != null">
                and createTime = #{createtime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>

    <!--通过Id列表作为筛选条件查询对象列表，列表长度不为0-->
    <select id="listByIds" resultMap="TTaskErrorsResultMap" parameterType="list">
        select
          <include refid="table_field" />
        from t_task_errors
        where id in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </select>

    <!--新增实体属性不为null的记录-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true" parameterType="cn.org.dianjiu.security.entity.TTaskErrors">
        insert into t_task_errors
        <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test="id != null">
             id,
          </if>
          <if test="recordId != null">
             record_id,
          </if>
          <if test="errorKey != null">
             error_key,
          </if>
          <if test="errorValue != null">
             error_value,
          </if>
          <if test="createtime != null">
             createTime,
          </if>
          <if test="updateTime != null">
             update_time,
          </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
          <if test="id != null">
             #{id,jdbcType=INTEGER},
          </if>
          <if test="recordId != null">
             #{recordId,jdbcType=VARCHAR},
          </if>
          <if test="errorKey != null">
             #{errorKey,jdbcType=VARCHAR},
          </if>
          <if test="errorValue != null">
             #{errorValue,jdbcType=VARCHAR},
          </if>
          <if test="createtime != null">
             #{createtime,jdbcType=TIMESTAMP},
          </if>
          <if test="updateTime != null">
             #{updateTime,jdbcType=TIMESTAMP},
          </if>
        </trim>
    </insert>

    <!--批量新增所有列，列表长度不能为0，且列表id统一为null或者统一不为null-->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true" parameterType="list">
        insert into t_task_errors
         (<if test="id != null">id,</if>record_id, error_key, error_value, createTime, update_time)
        values
        <foreach item="item" collection="list" separator="," open="" close="" index="index">
         (<if test="item.id != null">#{item.id,jdbcType=INTEGER},</if>#{item.recordId,jdbcType=VARCHAR}, #{item.errorKey,jdbcType=VARCHAR}, #{item.errorValue,jdbcType=VARCHAR}, #{item.createtime,jdbcType=TIMESTAMP}, #{item.updateTime,jdbcType=TIMESTAMP})
        </foreach>
    </insert>

    <!--通过主键修改实体属性不为null的列-->
    <update id="update" parameterType="cn.org.dianjiu.security.entity.TTaskErrors">
        update t_task_errors
        <set>
            <if test="recordId != null and recordId != ''">
                record_id = #{recordId,jdbcType=VARCHAR},
            </if>
            <if test="errorKey != null and errorKey != ''">
                error_key = #{errorKey,jdbcType=VARCHAR},
            </if>
            <if test="errorValue != null and errorValue != ''">
                error_value = #{errorValue,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null">
                createTime = #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!--通过表字段修改实体属性不为null的列-->
    <update id="updateByField">
        update t_task_errors
        <set>
            <if test="where.recordId == null and set.recordId != null and set.recordId != ''">
                record_id = #{set.recordId,jdbcType=VARCHAR},
            </if>
            <if test="where.errorKey == null and set.errorKey != null and set.errorKey != ''">
                error_key = #{set.errorKey,jdbcType=VARCHAR},
            </if>
            <if test="where.errorValue == null and set.errorValue != null and set.errorValue != ''">
                error_value = #{set.errorValue,jdbcType=VARCHAR},
            </if>
            <if test="where.createtime == null and set.createtime != null">
                createTime = #{set.createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="where.updateTime == null and set.updateTime != null">
                update_time = #{set.updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <where>
            <if test="where.id != null">
                and id = #{where.id,jdbcType=INTEGER}
            </if>
            <if test="where.recordId != null">
                and record_id = #{where.recordId,jdbcType=VARCHAR}
            </if>
            <if test="where.errorKey != null">
                and error_key = #{where.errorKey,jdbcType=VARCHAR}
            </if>
            <if test="where.errorValue != null">
                and error_value = #{where.errorValue,jdbcType=VARCHAR}
            </if>
            <if test="where.createtime != null">
                and createTime = #{where.createtime,jdbcType=TIMESTAMP}
            </if>
            <if test="where.updateTime != null">
                and update_time = #{where.updateTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </update>

    <!--通过主键修改实体列表，列表长度不能为0，注意：当实体属性为null时，对应的列也会别更新为null-->
    <update id="updateBatch" parameterType="list">
        update t_task_errors
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="record_id = case" suffix="end,">
                 <foreach collection="list" item="item" index="index">
                  when id = #{item.id} then #{item.recordId}
                 </foreach>
            </trim>
            <trim prefix="error_key = case" suffix="end,">
                 <foreach collection="list" item="item" index="index">
                  when id = #{item.id} then #{item.errorKey}
                 </foreach>
            </trim>
            <trim prefix="error_value = case" suffix="end,">
                 <foreach collection="list" item="item" index="index">
                  when id = #{item.id} then #{item.errorValue}
                 </foreach>
            </trim>
            <trim prefix="createTime = case" suffix="end,">
                 <foreach collection="list" item="item" index="index">
                  when id = #{item.id} then #{item.createtime}
                 </foreach>
            </trim>
            <trim prefix="update_time = case" suffix="end,">
                 <foreach collection="list" item="item" index="index">
                  when id = #{item.id} then #{item.updateTime}
                 </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.id,jdbcType=INTEGER}
        </foreach>
    </update>
    
    <!--通过主键删除-->
    <delete id="deleteById" parameterType="java.lang.Long">
        delete from t_task_errors where id = #{id,jdbcType=INTEGER}
    </delete>

    <!--通过实体非空属性删除-->
    <delete id="deleteByEntity" parameterType="cn.org.dianjiu.security.entity.TTaskErrors">
        delete from t_task_errors
        <where>
            <if test="recordId != null">
                and record_id = #{recordId,jdbcType=VARCHAR}
            </if>
            <if test="errorKey != null">
                and error_key = #{errorKey,jdbcType=VARCHAR}
            </if>
            <if test="errorValue != null">
                and error_value = #{errorValue,jdbcType=VARCHAR}
            </if>
            <if test="createtime != null">
                and createTime = #{createtime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </delete>
    
    <!--通过主键列表删除，列表长度不能为0-->
    <delete id="deleteByIds" parameterType="list">
        delete from t_task_errors where id in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </delete>
    
    <select id="countAll" resultType="int">
        select count(id) from t_task_errors
    </select>
    
    <select id="countByEntity" parameterType="cn.org.dianjiu.security.entity.TTaskErrors" resultType="int">
        select count(id) from t_task_errors
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="recordId != null">
                and record_id = #{recordId,jdbcType=VARCHAR}
            </if>
            <if test="errorKey != null">
                and error_key = #{errorKey,jdbcType=VARCHAR}
            </if>
            <if test="errorValue != null">
                and error_value = #{errorValue,jdbcType=VARCHAR}
            </if>
            <if test="createtime != null">
                and createTime = #{createtime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>
</mapper>